<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>name</key><string>Aeon</string>
<key>uuid</key><string>21EBC7AF-FE90-42B9-A608-592D6447CF73</string>
<key>mainMenu</key><dict><key>items</key><array><string>899C211A-D997-4D87-B6CC-EF3DA2707C19</string></array></dict>
</dict></plist>
